@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lexend", sans-serif;
  font-feature-settings: "rlig" 1, "calt" 1;
}

.error-message {
  font-size: 0.975rem;
  margin-top: 0.25rem;
  width: 100%;
  border-top-width: 2px;
  border-top-color: #4a5568;
  padding: 0.5rem;
  text-align: center;
  color: #e2e8f0;
}

/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2a2d34;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1px;
  transition: background 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
